body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #cbc8c8;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .user-stats {
    text-align: right;
  }
  
  table {
    border-collapse: collapse;
    margin: 20px;
    width: calc(100% - 40px);
  }
  
  thead th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  tbody td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  tbody td:first-child {
    width: 50px;
  }
  
  tbody td:last-child {
    width: 100px;
    text-align: center;
  }
  
  .alterar, .excluir {
    background-color: #ddd;
    border: none;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .active-users {
    font-weight: bold;
  }

  .botaosair {
    justify-content: end;
    align-items: end;
    text-align: end;
    color: #fff;
    display: flex;
    padding-right: 25px;
  }