ion-content {
    --background: #f8f8f8;
  }
  
  ion-list {
    margin-bottom: 20px;
  }
  
  ion-list-header {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-input,
  ion-select {
    margin-bottom: 10px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  