.header-header {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#2B571A;
    text-align: center;
    
    ion-icon{
        position: relative;
        right: 20px;
        top: 2px;
        font-size: 12px;
    }
}

ion-label {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: calc(131px/2);
    margin-left: calc(-50px/2);
    align-self: center;
    font-family: "Open Sans", Sans-serif;
    font-weight: 400;
    
}

.header{
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lista-dropdown{
    border-radius: 20px;
    padding-right: 10px;
}

.welcome {
    padding-top: 30px;
    font-size: 35px;
    font-weight: bold;
    
}

.welcome-div {
    padding-top: 30px ;
}

.logo {
    align-items: center;
    justify-content: center;
    display: flex;
  
    margin: auto;
}

.container-form {
    
    max-width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;

}

ion-input {

    
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
}

.inputs {
    padding: 10px;
}

.input-labels {
    padding: 10px;
}

.input-label-text {
    font-weight: bold;
    font-size: 17px;
}

.menu-footer {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;   
    margin: auto;
}

.social-media-icons{
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer {
   align-items: flex-end;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

  .text-container{
    display: flex;
    position: relative;
    margin-left: 10%;
    max-width: 50%;
    left: 185px;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 2;
    p{    
        margin-top: 0;
        margin-bottom: 0.9rem;
        font-size: 18px;
    }
  h3{
    font-size: 1.75rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    }
    h1{
        color: #020101BA ; 
        font-size: 37px ; 
        font-weight: 300 ;
        font-family: "Open Sans", "Sans-serif";
        margin-bottom: 20px; 
        }
    ul{
        text-transform: uppercase;
        list-style: none;
        
        li{
            text-decoration: none;
            width: 300px;
            height: auto;
            padding: 10px 20px;
            &:hover{
                border-bottom: 3px solid #7B9A6E;
            }
        } 
        a{
            line-height: 20px;
            text-decoration: none;
            color: #2A302F;
            &:hover{
                color: #7B9A6E;
            }
            
        }
    }
  }