
  
  <ion-header class="header">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://cdn.jsdelivr  et/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&amp;display=swap" rel="stylesheet">
    
    <a href="/">
      <ion-img src="../../../assets/images-coopeere/coopere.png"></ion-img>
      <span>CNPJ: 40.409.711/0001-39</span>
    </a>
    
    <ion-button fill="clear" [routerLink]="['/']" class="sair text-right">Sair</ion-button>
  </ion-header>




<ion-content>

  <div class="form-with-bg ">
  <div class="bg-background">
      <img class="background" src="https://coopeere.microcampos.com.br/img/turbinas-4.jfif">  
  </div>
<div class="form-content col-sm-12">
  <div class="card p-4 mb-4 ">
    <!-- <form  id="formulario-cadastro" (submit)="cadastro()">
      
      <input type="hidden" name="_token" value="CsbBXaFkBxwza5YHajzScu1cX0T8qLxYMLNfdzDj" wfd-id="id0" >        
      <input type="hidden" name="_method" value="put" wfd-id="id1">                
      
      <div class="form-group-heading">Realize o cadastro e torne-se um Coopeerado</div>

      <div class="form-group grid-cols-6 ">

        <div class="form-group-title">Dados Pessoais</div>

        
          
             
              <label position="floating">Nome Completo</label>
              <input [(ngModel)]="usuario.name" [(ngModel)]="cliente.name" placeholder="Insira seu nome completo" type="text" name="name" id="name"  > 
             
            
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="errors">
              <span *ngIf="name.errors.required">Preencha seu nome</span>
              <span *ngIf="name.errors.name">Nome inválido</span>
            </div>
            
       

         
          <label position="floating">E-mail*</label>
          <input [(ngModel)]="usuario.email" [(ngModel)]="cliente.email" type="email" placeholder="example@example.com" name="email" id="email" [ngModelOptions]="{standalone: true}"> 
         
        
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="errors">
          <span *ngIf="email.errors.required">Preencha seu e-mail</span>
          <span *ngIf="email.errors.email">E-mail inválido</span>
        </div>
        
         
          <label position="floating">CPF/CNPJ*</label>
          <input [(ngModel)]="usuario.cpfCnpj" [(ngModel)]="cliente.cpfCnpj" id="cpfCnpj" name="cpfCnpj"  type="text" placeholder="Digite seu CPF" [ngModelOptions]="{standalone: true}"> 
         
        
        <div *ngIf="cpfCnpj.invalid && (cpfCnpj.dirty || cpfCnpj.touched)"  pattern="[0-9]{11}" class="errors">
          <span *ngIf="cpfCnpj.errors.required">Preencha seu CPF/CNPJ</span>
        </div>
        
         
          <label position="floating">Telefone Celular*</label>
          <input [(ngModel)]="usuario.mobilePhone" [(ngModel)]="cliente.mobilePhone" id="mobilePhone" name="mobilePhone" type="tel" placeholder="(00) 00000-0000"  [ngModelOptions]="{standalone: true}"> 
         
        
        <div *ngIf="mobilePhone.invalid && (mobilePhone.dirty || mobilePhone.touched)" class="errors">
          <span *ngIf="mobilePhone.errors.required">Preencha seu telefone celular</span>
        </div>
        
    

         
          <label position="floating">Telefone Fixo</label>
          <input [(ngModel)]="usuario.phone" [(ngModel)]="cliente.phone" id="phone" name="phone" type="tel" placeholder="(00) 0000-0000" [ngModelOptions]="{standalone: true}"> 
         
        
         
          <label position="floating">Senha*</label>
          <input [(ngModel)]="usuario.password" type="password" id="name" name="name" [ngModelOptions]="{standalone: true}"  required> 
         
        
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="errors">
          <span *ngIf="password.errors.required">Preencha sua senha</span>
        </div>
        
         
          <label position="floating">Confirmar Senha*</label>
          <input [(ngModel)]="usuario.confirm_password" type="password" required> 
         
        
        <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="errors">
          <span *ngIf="confirm_password.errors.required">Confirme sua senha</span>
        </div>

        <div >
        <div class="form-group-title">Endereço*</div>
(blur)="consultaCEP($event.target.value, f)"
         
          <label position="floating">CEP*</label>
          <input  #searchCep (blur)="blur($event)" [(ngModel)]="usuario.postalCode" [(ngModel)]="cliente.postalCode" id="postalCode" name="postalCode"   type="text" placeholder="00000-000" [ngModelOptions]="{standalone: true}"> 
          <h6>  O mesmo que consta na conta de energia </h6>
         

        <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="errors">
          <span *ngIf="postalCode.errors.required">Preencha seu CEP</span>
        </div>
      
           <small class="text-muted">
            O mesmo que consta na conta de energia
          </small> 

           <ion-button color="warning" >VALIDAR CEP</ion-button> 
          
        
           
            <label position="floating">Endereço*</label>
            <input [(ngModel)]="usuario.address" [(ngModel)]="cliente.address" id="address" name="address" type="text" [ngModelOptions]="{standalone: true}"> 
           
          
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="errors">
            <span *ngIf="address.errors.required">Preencha seu endereço</span>
          </div>
          
           
            <label position="floating">Número*</label>
            <input [(ngModel)]="usuario.addressNumber" [(ngModel)]="cliente.addressNumber" id="addressNumber" type="text" [ngModelOptions]="{standalone: true}"> 
           
          
          <div *ngIf="addressNumber.invalid && (addressNumber.dirty || addressNumber.touched)" class="errors">
            <span *ngIf="addressNumber.errors.required">Preencha o número do endereço</span>
          </div>
          
           
            <label position="floating">Bairro*</label>
            <input [(ngModel)]="usuario.province" [(ngModel)]="cliente.province" id="province" name="province" type="text" [ngModelOptions]="{standalone: true}"> 
           
          
          <div *ngIf="province.invalid && (province.dirty || province.touched)" class="errors">
            <span *ngIf="province.errors.required">Preencha o bairro</span>
          </div>
          
           
            <label position="floating">Cidade*</label>
            <input [(ngModel)]="usuario.city" [(ngModel)]="cliente.city" id="city" name="city" type="text" [ngModelOptions]="{standalone: true}"> 
           
          
          <div *ngIf="city.invalid && (city.dirty || city.touched)" class="errors">
            <span *ngIf="city.errors.required">Preencha a cidade</span>
          </div>
          
           
            <label position="floating">Estado*</label>
            <ion-select [(ngModel)]="usuario.state" [(ngModel)]="cliente.state" id="state" name="state" [ngModelOptions]="{standalone: true}">
              <ion-select-option value="">UF</ion-select-option>
              <ion-select-option value="AC">Acre</ion-select-option>
              <ion-select-option value="AL">Alagoas</ion-select-option>
              <ion-select-option value="AP">Amapá</ion-select-option>
              <ion-select-option value="AM">Amazonas</ion-select-option>
              <ion-select-option value="BA">Bahia</ion-select-option>
              <ion-select-option value="CE">Ceará</ion-select-option>
              <ion-select-option value="DF">Distrito Federal</ion-select-option>
              <ion-select-option value="ES">Espírito Santo</ion-select-option>
              <ion-select-option value="GO">Goiás</ion-select-option>
              <ion-select-option value="MA">Maranhão</ion-select-option>
              <ion-select-option value="MT">Mato Grosso</ion-select-option>
              <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
              <ion-select-option value="MG">Minas Gerais</ion-select-option>
              <ion-select-option value="PA">Pará</ion-select-option>
              <ion-select-option value="PB">Paraíba</ion-select-option>
              <ion-select-option value="PR">Paraná</ion-select-option>
              <ion-select-option value="PE">Pernambuco</ion-select-option>
              <ion-select-option value="PI">Piauí</ion-select-option>
              <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
              <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
              <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
              <ion-select-option value="RO">Rondônia</ion-select-option>
              <ion-select-option value="RR">Roraima</ion-select-option>
              <ion-select-option value="SC">Santa Catarina</ion-select-option>
              <ion-select-option value="SP">São Paulo</ion-select-option>
              <ion-select-option value="SE">Sergipe</ion-select-option>
              <ion-select-option value="TO">Tocantins</ion-select-option>
            </ion-select>
           
          
          <div *ngIf="state.invalid && (state.dirty || state.touched)" class="errors">
            <span *ngIf="state.errors.required">Selecione o estado</span>
          </div>

        </div>  FIM DA DIV DOS CEPS 
       

        <div class="form-actions mt-4">
          <ion-button type="submit" expand="block"  class="btn btn-primary">Enviar</ion-button>
        </div>

      </div>
    </form> -->

    <form id="formulario-cadastro" (submit)="cadastro()">
      <input type="hidden" name="_token" value="CsbBXaFkBxwza5YHajzScu1cX0T8qLxYMLNfdzDj" wfd-id="id0">        
      <input type="hidden" name="_method" value="put" wfd-id="id1">                
      <div class="form-group-heading">Realize o cadastro e torne-se um Coopeerado</div>

      <div class="form-group grid-cols-6 ">

        <div class="form-group-title">Dados Pessoais</div>

        <label class="form-label" for="name">Nome Completo*</label>
        <div class="col-span-5">
          <div class="input-group">
            <input [(ngModel)]="cliente.name"  [(ngModel)]="usuario.name" type="text" class="form-control" id="name" name="name"  required wfd-id="id2">
          </div>
        </div>

       
        <label class="form-label" for="email">E-mail*</label>
        <div class="input-group">
          <input [(ngModel)]="cliente.email" [(ngModel)]="usuario.email"  type="email" class="form-control" id="email" name="email"  required wfd-id="id3">
        </div>

        <label class="form-label" for="cpfCnpj">CPF/CNPJ*</label>
        <div class="input-group w-60">
          <input #searchCep  [(ngModel)]="cliente.cpfCnpj" [(ngModel)]="usuario.cpfCnpj" type="text" placeholder="Digite seu CPF" class="form-control cliente-documento" id="cpfCnpj" name="cpfCnpj"  size="25" required maxlength="14" wfd-id="id4" (blur)="blur($event)">
          <!-- (input)="onInput($event)"<p *ngIf="formulario.get('cliente.cpfcnpj').touched && formulario.get('cliente.cpfcnpj').errors?.cliente.cpfcnpj">CPF inválido.</p> -->
        </div>

        <label class="form-label" for="telefone_celular">Telefone Celular*</label>
        <div class="input-group w-60">
          <input [(ngModel)]="cliente.mobilePhone" [(ngModel)]="usuario.mobilePhone" type="text" class="form-control" id="mobilePhone" name="mobilePhone" size="16"  required placeholder="Insira aqui seu telefone" wfd-id="id5">
        </div>

        <label class="form-label" for="telefone_fixo">Telefone Fixo</label>
        <div class="input-group w-60">
          <input [(ngModel)]="cliente.phone" [(ngModel)]="usuario.phone" type="text" class="form-control" id="phone" name="phone" size="16"  wfd-id="id6">
        </div>

        <label class="form-label" for="senha">Senha*</label>
        <div class="input-group">
          <input [(ngModel)]="usuario.password" type="password" class="form-control" id="password" name="password" required wfd-id="id7">
        </div>

        <label class="form-label" for="confirm_password">Confirmar Senha*</label>
        <div class="input-group">
          <input [(ngModel)]="usuario.confirm_password" type="password" class="form-control" id="confirm_password" name="confirm_password" required wfd-id="id8">
        </div>

        <div class="form-group-title">Endereço*</div>

        <label class="form-label" for="cep">CEP*</label>
        <div class="col-span-5">
          <div class="flex">
            <div class="input-group w-25">
              <input [(ngModel)]="cliente.postalCode" [(ngModel)]="usuario.postalCode" onblur="pesquisacep(this.value);" class="form-control" type="text" id="postalCode" name="postalCode" size="10" required wfd-id="id9">
            </div>
            <div class="p-2 d-none" id="loading-cep">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <small class="text-muted">
            O mesmo que consta na conta de energia
          </small>
        </div>
        
        <label class="form-label" for="endereco">Endereço*</label>
        <div class="input-group">
          <input [(ngModel)]="cliente.address" [(ngModel)]="usuario.address" type="text" class="form-control" id="address" name="address" required wfd-id="id10">
        </div>

        <label class="form-label" for="endereco">Número*</label>
        <div class="input-group">
          <input [(ngModel)]="cliente.addressNumber" [(ngModel)]="usuario.addressNumber" type="text" class="form-control" id="addressNumber" name="addressNumber"  required wfd-id="id11">
        </div>

        <label class="form-label" for="bairro">Bairro*</label>
        <div class="input-group">
          <input [(ngModel)]="cliente.province" [(ngModel)]="usuario.province" type="text" class="form-control" id="province" name="province"  required wfd-id="id12">
        </div>

        <label class="form-label" for="cidade">Cidade*</label>
        <div class="input-group">
          <input [(ngModel)]="cliente.city" [(ngModel)]="usuario.city" type="text" class="form-control" id="city" name="city"  required wfd-id="id13">
        </div>
        
        <label class="form-label" for="estado">Estado*</label>
        <div class="input-group">
          <select style="background-color: #fff; color: black" [(ngModel)]="cliente.state" [(ngModel)]="usuario.state" class="form-select" id="state" name="state" required>
            <option style="color: black" value="">UF</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
        </div>

       

        <div class="form-actions mt-4">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>

      </div>
    </form>

  </div>
</div>
</div>

</ion-content>



<ion-footer></ion-footer>