
.carousel {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:first-child {
    display: block;
}


ion-slide {
   position: relative;
}

ion-slide h1, ion-slide p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: flex-start;
    font-size: 80px;
    width: 50%;
}

ion-slide button {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    width: 250px;
    margin-top: 200px;
    padding: 15px;
    border-radius: 50px;
    background-color: green;
}


.container {
    background-image: url("https://media.gazetadopovo.com.br/2019/06/08112107/energia-eolica-660x372.jpg");
    background-size: cover;
}
.header-header {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.label-header {
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lista-dropdown{
    border-radius: 20px;
    padding-right: 10px;
}

.welcome {
    padding-top: 30px;
    font-size: 35px;
    font-weight: bold;
    
}

.welcome-div {
    padding-top: 30px ;
}

.logo {
    align-items: center;
    justify-content: center;
    display: flex;
  
    margin: auto;
}

.container-form {
    
    max-width: 1200px;
    //align-items: center;
    //justify-content: center;
    display: flex;
    padding: 10px;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;

}

ion-input {

    
    border-radius: 10px;
    min-width: 300px;
    max-width: 350px;
}

.inputs {
    padding: 10px;
}

.input-labels {
    padding: 10px;
}

.input-label-text {
    font-weight: bold;
    font-size: 17px;
}

.menu-footer {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;   
    margin: auto;
}

.social-media-icons{
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer {
   align-items: flex-end;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}

.select-text {
    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

/* ADICIONEI ESSAS LINHAS DE CSS ABAIXO
  PARA NÃO SOBREESCREVER O QUE JÁ TINHA E MOSTRAR O QUE EU FIZ*/

  * {
    color: #1c1c1c;
    text-decoration: none;
    font-family: Nunito, sans-serif;
  }

  ion-header {
    position: relative;
    background-color: rgb(239, 246, 255);

    a span {
        margin-top: 10px;
        margin-left: -8px;
    }
    .sair {
        color: #095aa4;
        font-weight: 700;
        display: block;
        height: 70px;
        margin-top: 20px;
        margin-right: -60px;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        font-family: Nunito, sans-serif;
        text-transform: capitalize;
    }

    .text-right {
        text-align: right;
        margin-left: 500px;
    }

    .header{
    
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 300px;
    }
    ion-img{
        width: 120px;
        height: auto;
        margin-bottom: 5px;
    }
    span {
        color: #095aa4;
        border: none;
        font-size: 0.75rem;
    }
  }

  ion-content {
    .background {
        z-index: -1;
        position: absolute;
    }

    .form-with-bg .form-group-heading {
        color: #1c1c1c;
    }
    .form-group-heading {
        font-size: 2rem;
        font-weight: 700;
    }
    .form-with-bg {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: end;
        position: relative;
        top: 320px;
    }
    .form-with-bg .form-actions, .form-with-bg .form-group-heading, .form-with-bg .form-group-title {
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(75,85,99,.5);
        border-color: rgba(75,85,99,.5);
    }
    .card {
        backdrop-filter: blur(10px);
        background: rgba(240,249,255,.5);
        border: unset;
        box-shadow: 0 3px 12px 0 rgb(0 0 0 / 33%);
        margin: 2rem;
        width: 75%;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
    }
  }