
  

<ion-content>


  <ion-header class="header-header">  

    

    <div [routerLink]="['/login']">
      <ion-icon style="color:#fff;" name="person"></ion-icon>
      <ion-label style="color:#fff;" class="label-header" >Login</ion-label>
    </div>
      |
      <div style="padding-left: 18px;" [routerLink]="['/signup']" >
        <ion-icon style="color:#fff;" name="pencil"></ion-icon>
        <ion-label style="color: #fff;" >Cadastro</ion-label>
      </div>
      
      
    
    </ion-header>



    <ion-header class="header hide-header">
      
      
        <ion-img  [routerLink]="['/onboarding']"  style="max-width: 10%; min-width: 8%; margin-left: 200px;" src="../../../assets/images-coopeere/coopere.png"></ion-img>
      
    
      
      <ion-button fill="clear" style="color:#000; margin-left: 70px;"  [routerLink]="['/']" routerLinkActive="active-link">Home</ion-button>
      
      <div class="dropdown">
        <a [routerLink]="['/onboarding']" style="color:#000;" routerLinkActive="active-link">A COOPEERE <svg class="arrowicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/></svg></a>
        <div class="dropdown-content">
          <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
          <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
          <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
        </div>
      </div>
    
      <ion-button fill="clear" style="color:#000;"  [routerLink]="['/estatuto']" routerLinkActive="active-link">Estatuto</ion-button>
      <ion-button fill="clear" style="color:#000;"  [routerLink]="['/legislacao']" routerLinkActive="active-link">Legislação</ion-button>
      <ion-button fill="clear" style="color:#000;" [routerLink]="['/vantagens']" routerLinkActive="active-link">Vantagens</ion-button>
      <ion-button fill="clear" style="color:#000;"  [routerLink]="['/parceiros']" routerLinkActive="active-link">Parceiros</ion-button>
      <ion-button fill="clear" style="color:#000; margin-right: 250px;" [routerLink]="['/faleconosco']" routerLinkActive="active-link">Fale Conosco</ion-button>
  
    </ion-header>


  <div class="container">

  </div>

  <div class="minimum-header">

      
    <ion-img class="logo-min-header" [routerLink]="['/onboarding']"  src="../../../assets/images-coopeere/coopere.png"></ion-img>

   
    

    <!-- TESTANDO O MENU HAMBURGUER COM DROPDOWN -->
<div class="menu-min-header">
    <nav class="thenav">
      <div class="hamburger-menu-X" (click)="toggleMenu()">
        <div class="bar-X"></div>
        <div class="bar-X"></div>
        <div class="bar-X"></div>
      </div>
      <ul class="menu-items-X" *ngIf="showMenu">
        <br>
        <li><a [routerLink]="['/onboarding']" routerLinkActive="active-link">HOME</a></li>
        <li><a href="#">A COOPEERE</a></li>
        <li><a [routerLink]="['/estatuto']" routerLinkActive="active-link">ESTATUTO</a></li>
        <li><a [routerLink]="['/legislacao']" routerLinkActive="active-link">LEGISLAÇÃO</a></li>
        <li><a [routerLink]="['/vantagens']" routerLinkActive="active-link">VANTAGENS</a></li>
        <li><a [routerLink]="['/parceiros']" routerLinkActive="active-link">PARCEIROS</a></li>
        <li><a [routerLink]="['/faleconosco']" routerLinkActive="active-link">FALE CONOSCO</a></li>
        

        
      </ul>
    </nav>
  </div>   

  <!-- 
    
    PACK DE CLASSES EM COMUM EM TODAS AS PAGINAS

    * menu-items-X
    * minimum-header
    * menu-min-header
    * thenav
    * hamburger-menu-X
    * bar-X
  
  -->
    
    <!-- FIM DO TESTE DO MENU HAMBURRGUER COM DROPDOWN -->


    <ion-icon name="search" class="search-min-header">Procurar</ion-icon>
  </div>

  <div class="container">
  
    <section>
   
    </section>
 
    <div class="menu-lateral-x">
    <ion-list >
      <ion-label style="color: #7b9a6e;" fill="clear" [routerLink]="['/eventos']" routerLinkActive="active-link">Eventos</ion-label>
      <ion-label fill="clear" [routerLink]="['/publicacoes']">Publicações</ion-label>
      <ion-label fill="clear" [routerLink]="['/agenda']">Agenda</ion-label>
      <ion-label fill="clear" [routerLink]="['/galeria']">Galeria de fotos</ion-label>
      <ion-label fill="clear" [routerLink]="['/trabalheconosco']">Trabalhe Conosco</ion-label>
    </ion-list>
  </div>
  </div>




    <h1 class="title-equipe">A equipe</h1>

    <h1 class="title-comp"><strong> Composição da Diretoria </strong></h1>

    <h5 class="h5">(Clique na foto para saber mais)</h5>

    <ion-grid >
      <ion-row class="grid">
        <ion-col  size="3">
          <ion-card class="cards-equipe" routerLink="/hellder-benjamin">
            <div style="display: flex; flex-direction: row;">
            <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2020/10/20171122_155600-150x150.jpg" />
            <ion-card-header>
              <ion-card-title style="font-weight: bold;">Hellder Benjamin</ion-card-title>
              <ion-card-subtitle>Diretor Presidente</ion-card-subtitle>
              <h6> Campista há 52 anos, nascido em 26 de dezembro de 1968, dei meus primeiros...</h6>
            </ion-card-header>
            
          </div>
        
            <ion-card-content>
              (Clique na foto e saiba mais) 
            </ion-card-content>
          
          </ion-card>

          <ion-card class="cards-equipe" routerLink="/vanda-maria">
            <div style="display: flex; flex-direction: row;">
            <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2020/12/vanda1-150x150.jpeg" />
            <ion-card-header>
              <ion-card-title style="font-weight: bold;">Vanda Maria dos Santos Luiz Fernandes</ion-card-title>
              <ion-card-subtitle>Secretária Geral Administrativa</ion-card-subtitle>
              <h6>Sou Vanda Fernandes, 47 anos, natural de Campos dos Goytacazes/RJ...</h6>
            </ion-card-header>
            
          </div>
        
            <ion-card-content>
              (Clique na foto e saiba mais) 
            </ion-card-content>
          
          </ion-card>

          
          <ion-card class="cards-equipe" routerLink="/felipe-godoy">
            <div style="display: flex; flex-direction: row;">
            <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/fillipe-godoy-150x150.jpg" />
            <ion-card-header>
              <ion-card-title style="font-weight: bold;">
                Felipe Godoy Azeredo</ion-card-title>
              <ion-card-subtitle>Diretor Jurídico e de Contrato _ OAB/RJ 132.714</ion-card-subtitle>
              <h6> Graduação em Direito
                Pós-graduação em Meio Ambiente e...</h6>
            </ion-card-header>
            
          </div>
        
            <ion-card-content>
              (Clique na foto e saiba mais) 
            </ion-card-content>

            
          
          </ion-card>

          
          <ion-card class="cards-equipe" routerLink="/adalberto-oliveira">
            <div style="display: flex; flex-direction: row;">
            <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/05/sem-nome-150x150.jpg" />
            <ion-card-header>
              <ion-card-title style="font-weight: bold;">
                Adalberto de Oliveira Pereira </ion-card-title>
              <ion-card-subtitle>Diretor de TI</ion-card-subtitle>
              <h6> Analista de Sistema e Desenvolvedor, Mestre Pesquisa Operacional…</h6>
            </ion-card-header>
            
          </div>
        
            <ion-card-content>
              (Clique na foto e saiba mais) 
            </ion-card-content>

            
          
          </ion-card>

          
          <ion-card class="cards-equipe" routerLink="/marco-antonio-andrade">
            <div style="display: flex; flex-direction: row;">
            <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/marco-barcelos-150x150.jpg" />
            <ion-card-header>
              <ion-card-title style="font-weight: bold;">
                Marco Antônio de Barcelos Andrade</ion-card-title>
              <ion-card-subtitle>Diretor de Divulgação</ion-card-subtitle>
              <h6> Graduado pela Faculdade de odontologia de Campos (FOC); Especialista em...</h6>
            </ion-card-header>
            
          </div>
        
            <ion-card-content>
              (Clique na foto e saiba mais) 
            </ion-card-content>

            
          
          </ion-card>

          
        <ion-card class="cards-equipe" routerLink="/samil-alberto">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/samil-282x300.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Samil Alberto Moret Cueche</ion-card-title>
            <ion-card-subtitle>Diretor Ambiental, Engenheiro Ambiental</ion-card-subtitle>
            <h6> 14 anos de experiência na área de segurança, higiene ocupacional e meio…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>

        
        <ion-card class="cards-equipe" routerLink="/karina-almeida">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/karina-almeida-150x150.png" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Karina Almeida</ion-card-title>
            <ion-card-subtitle>Diretora de Logística e Treinamento</ion-card-subtitle>
            <h6> Eu sou a Karina Almeida, tenho 41 anos e ha três anos obtive a formação e…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>


      </ion-col>


      <ion-col  size="4">

         <ion-card class="cards-equipe" routerLink="/joao-paulo-cunha">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/joaocunha-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">João Paulo da Costa Cunha</ion-card-title>
            <ion-card-subtitle>Diretor Vice Presidente</ion-card-subtitle>
            <h6> Campista há 52 anos, nascido em 26 de dezembro de 1968, dei meus primeiros...</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/pryscilla-ferreira">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/Pryscilla-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Pryscilla Ferreira Nunes Crespo dos Santos</ion-card-title>
            <ion-card-subtitle>Diretor Administrativa Financeira</ion-card-subtitle>
            <h6> A priore gostaria de me apresentar, me chamo Pryscilla Santos, sou…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/elton-vieira">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/elton-vieira-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Elton Vieira Leite</ion-card-title>
            <ion-card-subtitle>Diretor Tecnológico</ion-card-subtitle>
            <h6> CREA-RJ nº: 2006132955
              CONFEA nº 200080663-5
              MTE nº SSST/TEM 37-01420-8</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/roberto-silva">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2020/12/roberto-silva-150x150.jpeg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Roberto da Silva</ion-card-title>
            <ion-card-subtitle>Diretor de Projeto e Desenvolvimento</ion-card-subtitle>
            <h6> Mestrando em Física
              Pós Graduação em Engenharia de Petróleo….</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/auner-pereira-carneiro">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2020/12/Auner.jp%C7%B5.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Auner Pereira Carneiro</ion-card-title>
            <ion-card-subtitle>Diretor Científico</ion-card-subtitle>
            <h6> 73 anos. Professor Pós-doc UENF-RJ. Doutor USP-SP. Especialista UFRJ</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/liliam-benjamin">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/lilian-benjamin-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Lilliam Benjamim</ion-card-title>
            <ion-card-subtitle>Consultora Comercial e Serviços Externos</ion-card-subtitle>
            <h6>Formação de Professores em 1982, formada em Técnica Eletromecanica, não…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>
      
      
        <ion-card class="cards-equipe" routerLink="/luciana-ribeiro">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/03/luciana-ribeiro-gomes-1-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Dra Luciana Ribeiro Gomes</ion-card-title>
            <ion-card-subtitle>Advogada Consultora em Privacidade e Proteção de Dados.</ion-card-subtitle>
            <h6> Campista há 52 anos, nascido em 26 de dezembro de 1968, dei meus primeiros...</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>
      
      </ion-col>
     
    </ion-row>
  </ion-grid>

  <h1 class="title-comp"><strong> Conselho Administrativo </strong></h1>

  <h5 class="h5">(Clique na foto para saber mais)</h5>
  
  <ion-grid >
    <ion-row class="grid">
      <ion-col size-sm="3"  size="3">
        

        
        <ion-card class="cards-equipe" routerLink="/sueli-silva">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2020/12/sueli-150x150.jpeg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Sueli da Silva</ion-card-title>
            <ion-card-subtitle>Professora</ion-card-subtitle>
            <h6> Magistério e a Contabilidade é minha formação profissional. Dos 22 aos…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>

        
        <ion-card class="cards-equipe" routerLink="/erica-gomess">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/erica-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Erica Gomes Martins</ion-card-title>
            <ion-card-subtitle>Professora</ion-card-subtitle>
            <h6>2012 à 2017 Graduação em Licenciatura Plena em Educação do Campo…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>

        
        <ion-card class="cards-equipe" routerLink="/neusimar-hora">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/neusimar-da-hora-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Neusimar da Hora</ion-card-title>
            <ion-card-subtitle>Animadora Cultural</ion-card-subtitle>
            <h6>Pedagoga com extensão em Psicopedagogia de Educação Inclusiva, Licencianda em…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>

        
        <ion-card class="cards-equipe" routerLink="/ilidia-campos">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/Ilidia-campos-150x150.jpeg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Ilídia Campos da Cunha Carlos</ion-card-title>
            <ion-card-subtitle>Técnica de Enfermagem</ion-card-subtitle>
            <h6> Sou Ilidia Campos da Cunha Carlos, auxiliar de enfermagem ativa, curso… </h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>


      </ion-col>


      <ion-col  size="4">

        <ion-card class="cards-equipe" routerLink="/jovana-patricia">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/jovana-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Jovana Patrícia da Hora Barcelos</ion-card-title>
            <ion-card-subtitle>Educadora Social
            </ion-card-subtitle>
            <h6>Ensino Superior / Formação em Jornalismo
              Técnico em Segurança….</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/nilcineia-silva">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2020/12/nilcineia-150x150.jpeg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Nilcinéia da Silva Azevedo Monteiro</ion-card-title>
            <ion-card-subtitle> Artesã </ion-card-subtitle>
            <h6> </h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/eber-john">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/eber-john-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Eber John de Oliveira Rangel</ion-card-title>
            <ion-card-subtitle>Eletricista</ion-card-subtitle>
            <h6> </h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>
      
      
        <ion-card class="cards-equipe" routerLink="/josely-oliveira">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/joseli-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Josely de Oliveira Cruz Rangel</ion-card-title>
            <ion-card-subtitle>Vendedora</ion-card-subtitle>
            <h6></h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>
      
      </ion-col>
     
    </ion-row>
  </ion-grid>

  
  <h1 class="title-comp"><strong> Conselho Fiscal </strong></h1>

  <h5 class="h5">(Clique na foto para saber mais)</h5>

  <ion-grid >
    <ion-row class="grid">
      <ion-col size-sm="3"  size="3">
        <ion-card class="cards-equipe" routerLink="/luis-carlos">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/luis-carlos-de-souza-lopes-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Luís Carlos de Souza Lopes</ion-card-title>
            <ion-card-subtitle>Aposentado</ion-card-subtitle>
            <h6>Servidor público aposentado (Empresa Brasileira de Correios e Telégrafos). Sindicalista…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/cidineia-rocha">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/Cidineia-150x150.jpeg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Cidinéia da Rocha Paschoal Bore</ion-card-title>
            <ion-card-subtitle>Enfermeira</ion-card-subtitle>
            <h6>Sou Cidineia da Rocha Paschoal Boré, enfermeira, trabalho a mais de 10…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        
        <ion-card class="cards-equipe" routerLink="/alcilea-santos">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/alcilea-dos-santos-217x300.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Alciléa dos Santos Ricardo do Rosário</ion-card-title>
            <ion-card-subtitle>Professora - Pedagoga</ion-card-subtitle>
            <h6> Alciléa dos Santos Ricardo, 49 anos Professora, Pedagoga pela Educação…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>

          
         
        </ion-card>

        



      </ion-col>


      <ion-col  size="4">

         

        <ion-card class="cards-equipe" routerLink="/rosangela-paulo">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/rosangela-gomes-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Rosangela Gomes Paulo </ion-card-title>
            <ion-card-subtitle>Técnica de Enfermagem</ion-card-subtitle>
            <h6>31 anos de Serviço Público Concursada na área de saúde / Prefeitura de Campos…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/marco-aurelio-dutra">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/marcio-dutra-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Márcio Aurélio Dutra Pereira</ion-card-title>
            <ion-card-subtitle>Técnico em radiologia</ion-card-subtitle>
            <h6> </h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

      </ion-col>
     
    </ion-row>
  </ion-grid>

  
  <h1 class="title-comp"><strong> Conselho De Ética </strong></h1>

  <h5 class="h5">(Clique na foto para saber mais)</h5>


  <ion-grid >
    <ion-row class="grid">
      <ion-col size-sm="3"  size="3">
        <ion-card class="cards-equipe" routerLink="/andral-nunes">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/andral-nunes-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Andral Nunes Tavares Filho</ion-card-title>
            <ion-card-subtitle>Advogado OAB/RJ nrº 49.212</ion-card-subtitle>
            <h6></h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/maria-geni-almeida">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2020/12/Foto-Maria-Geni-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Maria Geni de Almeida Fortunato</ion-card-title>
            <ion-card-subtitle>Professora</ion-card-subtitle>
            <h6>Possui graduação em LETRAS / Português/Literaturas pela Faculdade de…

            </h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>



      </ion-col>


      <ion-col  size="4">

         <ion-card class="cards-equipe" routerLink="/mario-terra-filho">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/mario-terra-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">Mário Terra Areas Filho</ion-card-title>
            <ion-card-subtitle>Advogado OAB/RJ nº 49.096</ion-card-subtitle>
            <h6> </h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

        <ion-card class="cards-equipe" routerLink="/wallace-randolph">
          <div style="display: flex; flex-direction: row;">
          <img class="cards-image" alt="Silhouette of mountains" src="https://www.coopeere.eco.br/wp-content/uploads/2021/01/wallace-randolph-150x150.jpg" />
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">
              Wallace Randolph Cruz Ferreira</ion-card-title>
            <ion-card-subtitle>Advogado OAB/RJ 185.520</ion-card-subtitle>
            <h6> Advogado desde os 22 anos. Graduado pelo Centro Universitário Fluminense…</h6>
          </ion-card-header>
          
        </div>
       
          <ion-card-content>
            (Clique na foto e saiba mais) 
          </ion-card-content>
         
        </ion-card>

      
      </ion-col>
     
    </ion-row>
  </ion-grid>



</ion-content>

