.custom-alert {
    width: 500px; 
    height: 400px; 
    background-color: lightgray; 
    padding: 20px;
}

@media screen and (max-width: 765px) {
    
    .footer {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;

    }
}

@media screen and (min-width: 765px) {
    
    .footer {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;

    }
}


.background {
	background-image: url("../../assets/images-coopeere/turbinas.png");
    background-size: cover;
	padding-bottom: 500px;
    //background: rgba(0, 0, 0, 0.1);
    
}

  

.usuario {
    box-shadow: inset;
    padding: 45px;
}

.usuario-nome {
    font-size: 40px;
    font-weight: bold;

}

.usuario-dados {
    font-size: 20px;
}

.usuario-documento {
    font-size: 20px;
}

.botao-cancelar {
    border: 1px crimson solid;
    background-color: #ffffff;
    color: crimson;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    margin-bottom: 10px;
    

}

.botao-editar {
    border: 1px rgb(4, 168, 12) solid;
    color: rgb(4, 168, 12);
    background-color: #ffffff;
    font-weight: bold;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    margin-right: 40px;
    margin-bottom: 10px;

}

.botao-voltar {
    border: 1px rgb(40, 4, 168) solid;
    color: rgb(40, 4, 168);
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 10px;

}


/* Estilos do popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 750px
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup p {
    margin-bottom: 8px;
  }
  
  .popup button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #45a049;
  }
/////////////////////////////  